@using Varesin.Mvc.Models.Project
@using Varesin.Domain.Enumeration
@using Varesin.Mvc.Services
@using Microsoft.AspNetCore.Mvc.Rendering
@model ProjectCreateViewModel
@{
    ViewData["Title"] = "ایجاد پروژه جدید - پنل مدیریتی وارثین";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var projectTypeSelector = (List<SelectListItem>)ViewBag.ProjectTypeSelector;
    var projectStateSelector = (List<SelectListItem>)ViewBag.ProjectStateSelector;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">پنل مدیریتی</a></li>
        @if (UserAccessService.UserIsInRole(User, AccessCode.ViewUser))
        {
            <li class="breadcrumb-item active" aria-current="page"><a asp-action="Index" asp-controller="Project" asp-area="Admin">مشاهده پروژه های سامانه</a></li>
        }
        <li class="breadcrumb-item active" aria-current="page">ایجاد پروژه جدید </li>
    </ol>
</nav>

<div class="panel panel-primary">
    <div class="panel-heading">ایجاد پروژه جدید</div>
    <div class="panel-body">
        <form method="post">
            @Html.AntiForgeryToken()
            @if (ViewData.ModelState.ErrorCount > 0)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger">
                            @Html.ValidationSummary()
                        </div>
                    </div>
                </div>
            }

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="required">عنوان پروژه را وارد نمایید : </label>
                        <input required type="text" asp-for="Title" placeholder="عنوان" class="form-control" >
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="required">نوع پروژه را انتخاب کنید : </label>
                        <select required name="TypeId" asp-items="@projectTypeSelector" class="form-control"></select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="required">وضعیت پروژه را انتخاب کنید : </label>
                        <select required name="State" asp-items="@projectStateSelector" class="form-control"></select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="pwd">مکان برگزاری پروژه را وارد نمایید : </label>
                        <input type="text" asp-for="Location" placeholder="مکان برگزاری" class="form-control" >
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="pwd">زمان برگزاری پروژه را وارد نمایید : </label>
                        <input type="text" asp-for="Time" placeholder="زمان برگزاری" class="form-control" >
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="pwd" style="display:block">
                            برآورد هزینه پروژه را وارد نمایید :
                            <span style="float:left" id="price-seperator"></span>
                        </label>
                        <input type="number" onkeyup="numberWithCommas()" asp-for="CostEstimation" placeholder="برآورد هزینه" class="form-control">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="pwd">توضیحات پروژه را وارد نمایید : </label>
                        <textarea asp-for="Description" placeholder="توضیحات پروژه" class="form-control"  rows="5"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <button type="submit" class="ladda-button btn btn-primary btn-block" data-style="zoom-in">
                            <span class="ladda-label">ثبت</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
        function numberWithCommas() {
            var x = document.getElementById('CostEstimation').value;
            var pattern = /(-?\d+)(\d{3})/;
            while (pattern.test(x))
                x = x.replace(pattern, "$1,$2");
            return document.getElementById('price-seperator').innerText = x + ' تومان ';
    }
</script>