@using Varesin.Mvc.Models.Project
@model ProjectTypeViewModel
@{
    ViewData["Title"] = "ویرایش نوع پروژه - پنل مدیریتی وارثین";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">پنل مدیریتی</a></li>
        <li class="breadcrumb-item" aria-current="page"><a asp-action="Index" asp-area="Admin" asp-controller="ProjectType">مشاهده نوع پروژه های سامانه</a></li>
        <li class="breadcrumb-item active" aria-current="page">ویرایش نوع پروژه </li>
    </ol>
</nav>

<div class="panel panel-primary">
    <div class="panel-heading">ویرایش نوع پروژه </div>
    <div class="panel-body">
        <form method="post">
            <input type="hidden" asp-for="Id" />
            @Html.AntiForgeryToken()
            @if (ViewData.ModelState.ErrorCount > 0)
            {
                <div class="row">
                    <div class="col-md-4">
                        <div class="alert alert-danger">
                            @Html.ValidationSummary()
                        </div>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="required">   عنوان نوع پروژه را وارد نمایید :  </label>
                        <input required type="text" asp-for="Title" placeholder="عنوان نوع پروژه" class="form-control" id="pwd">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <button type="submit" class="ladda-button btn btn-primary btn-block" data-style="zoom-in">
                            <span class="ladda-label">ثبت</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
