
@{
    ViewData["Title"] = "نتیجه پرداخت - وصی - پایگاه اطلاع رسانی مسجد امیرالمومنین(علیه السلام) ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bread">
    <div class="container">
        <div class="col-md-12">
            <div class="bread__item">
                <div class="">شما این جا هستید :</div>
                <ul class="breadcrumb">
                    <li><a href="/">صفحه اصلی</a></li>
                    <li class="active">نتیجه پرداخت</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div style="overflow: hidden;padding: 40px 0;">
        <div class="row">
            <div class="col-xs-12">
                <div class="login">
                    <div class="login__title">نتیجه پرداخت </div>
                    <div class="alert alert-danger text-center" style="margin-top:10px">
                        هنوز پیاده سازی نشده است
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

