@using Varesin.Mvc.Models.Report
@using Varesin.Domain.Enumeration
@using Varesin.Mvc.Services
@using Microsoft.AspNetCore.Mvc.Rendering
@model ReportViewModel
@{
    ViewData["Title"] = "ویرایش گزارش  - پنل مدیریتی وارثین";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var workingGroupSelector = (List<SelectListItem>)ViewBag.WorkingGroupSelector;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">پنل مدیریتی</a></li>
        @if (UserAccessService.UserIsInRole(User, AccessCode.ViewUser))
        {
            <li class="breadcrumb-item active" aria-current="page"><a asp-action="Index" asp-controller="Report" asp-area="Admin">مشاهده گزارش های سامانه</a></li>
        }
        <li class="breadcrumb-item active" aria-current="page">ویرایش گزارش  </li>
    </ol>
</nav>

<div class="panel panel-primary">
    <div class="panel-heading">ویرایش گزارش </div>
    <div class="panel-body">
        <form method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            @if (ViewData.ModelState.ErrorCount > 0)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger">
                            @Html.ValidationSummary()
                        </div>
                    </div>
                </div>
            }

            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-warning">
                        <p>عکس اصلی برای گزارش نباید بیش از 500 کیلو بایت باشد</p>
                        <p>اگر عکس اصلی را دوباره انتخاب کنید جایگزین عکس قبلی می شود</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <p style="font-weight: 600;">عکس انتخاب شده : </p>
                        <p><img src="~/Files/Report/@(Model.PrimaryPicture)" class="img-thumbnail" style="width:200px;" /></p>
                    </div>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="required">عنوان گزارش را وارد نمایید : </label>
                        <input required type="text" asp-for="Title" placeholder="عنوان" class="form-control" id="pwd">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="required">کارگروه گزارش را انتخاب نمایید</label>
                        <select required name="WorkingGroupId" asp-items="@workingGroupSelector" class="form-control"></select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>عکس اصلی گزارش را انتخاب کنید : </label>
                        <input type="file" name="PrimaryPicture"/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="pwd">توضیحات گزارش را وارد نمایید : </label>
                        <textarea id="editor" asp-for="Description" placeholder="توضیحات گزارش" class="form-control" id="pwd" rows="5"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <button type="submit" class="ladda-button btn btn-primary btn-block" data-style="zoom-in">
                            <span class="ladda-label">ثبت</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
