@using Varesin.Mvc.Models.Profile
@using Varesin.Domain.Enumeration
@using Varesin.Mvc.Services
@model ChangePasswordViewModel
@{
    ViewData["Title"] = "تغییر رمز عبور - پنل مدیریتی وارثین";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">پنل مدیریتی</a></li>
        <li class="breadcrumb-item active" aria-current="page">تغییر رمز عبور</li>
    </ol>
</nav>

<div class="panel panel-primary">
    <div class="panel-heading">تغییر رمز عبور</div>
    <div class="panel-body">
        <form method="post">
            @Html.AntiForgeryToken()
            @if (ViewData.ModelState.ErrorCount > 0)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger">
                            @Html.ValidationSummary()
                        </div>
                    </div>
                </div>
            }

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="required"> رمز عبور فعلی خود را وارد نمایید :  </label>
                        <input type="text" required asp-for="Password" placeholder="رمز عبورفعلی" class="form-control" id="pwd">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="required">رمز عبور جدید خود را وارد نمایید :  </label>
                        <input type="text" required asp-for="NewPassword" placeholder="رمز عبور جدید" class="form-control" id="pwd">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="required">رمز عبور جدید خود را تکرار کنید :  </label>
                        <input type="text" required asp-for="ConfirmNewPassword" placeholder="تکرار رمز عبور جدید" class="form-control" id="pwd">
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <button type="submit" class="ladda-button btn btn-primary btn-block" data-style="zoom-in">
                            <span class="ladda-label">ثبت</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
