
@{
    ViewData["Title"] = "فاقد دسترسی - پنل مدیریتی وصی - پایگاه اطلاع رسانی مسجد امیرالمومنین(علیه السلام)";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">پنل مدیریتی</a></li>
        <li class="breadcrumb-item active" aria-current="page">فاقد دسترسی به این صفحه</li>
    </ol>
</nav>


<div class="alert alert-danger text-center" style="font-weight:600">
   <p><label>شما به این صفحه دسترسی ندارید .</label> <a href="/admin">بازگشت به صفحه اصلی</a></p>
</div>

