@using Varesin.Mvc.Models.User
@using Varesin.Mvc.Models
@using Varesin.Mvc.Models.Pagination
@using Microsoft.AspNetCore.Mvc.Rendering
@using Varesin.Domain.Enumeration
@using Varesin.Mvc.Services
@using Varesin.Mvc.Models.Info
@model InfoViewModel
@{
    ViewData["Title"] = "مدیریت و مشاهده اینفوها - پنل مدیریتی وصی - پایگاه اطلاع رسانی مسجد امیرالمومنین (علیه السلام)";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">پنل مدیریتی</a></li>
        <li class="breadcrumb-item active" aria-current="page">مدیریت و مشاهده اینفوها</li>
    </ol>
</nav>

<div class="panel panel-primary">
    <div class="panel-heading">مدیریت و مشاهده اینفوها</div>
    <div class="panel-body">
        <form method="post">
            @Html.AntiForgeryToken()
            <div class="row flex-end">
                <fieldset style="width: 100%;padding: 0px 10px;">
                    <legend>شبکه های اجتماعی</legend>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="pwd"> اکانت اینستاگرام : </label>
                            <input asp-for="InstagramAccount" type="text" placeholder="اینستاگرام" class="form-control" id="pwd">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="pwd">اکانت بله : </label>
                            <input asp-for="BaleAccount" type="text" placeholder="بله" class="form-control" id="pwd">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="pwd">اکانت سروش : </label>
                            <input asp-for="SoroushAccount" type="text" placeholder="سروش" class="form-control" id="pwd">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="pwd">اکانت تلگرام : </label>
                            <input asp-for="TelegramAccount" type="text" placeholder="تلگرام" class="form-control" id="pwd">
                        </div>
                    </div>
                </fieldset>

                <fieldset style="width: 100%;padding: 0px 10px;">
                    <legend>مشخصات بیت پی</legend>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="pwd">نام کاربری بیت پی : </label>
                            <input asp-for="BitpayUserName" type="text" placeholder="نام کاربری بیت پی" class="form-control" id="pwd">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="pwd">رمزعبور بیت پی : </label>
                            <input asp-for="BitpayPassword" type="text" placeholder="رمزعبور بیت پی" class="form-control" id="pwd">
                        </div>
                    </div>
                </fieldset>

                <fieldset style="width: 100%;padding: 0px 10px;">
                    <legend>مشخصات اینستاگرام</legend>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="pwd">نام کاربری اینستاگرام : </label>
                            <input asp-for="InstagramUserName" type="text" placeholder="نام کاربری اینستاگرام" class="form-control" id="pwd">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="pwd">رمزعبور اینستاگرام : </label>
                            <input asp-for="InstagramPassword" type="text" placeholder="رمزعبور اینستاگرام" class="form-control" id="pwd">
                        </div>
                    </div>
                </fieldset>

                <fieldset style="width: 100%;padding: 0px 10px;">
                    <legend>شماره تماس ها </legend>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="pwd"> شماره تماس اول :  </label>
                            <input asp-for="PhoneNumber1" type="text" placeholder="شماره تماس" class="form-control" id="pwd">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="pwd">شماره تماس دوم :  </label>
                            <input asp-for="PhoneNumber2" type="text" placeholder="شماره تماس" class="form-control" id="pwd">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="pwd">شماره تماس سوم :  </label>
                            <input asp-for="PhoneNumber3" type="text" placeholder="شماره تماس" class="form-control" id="pwd">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="pwd">شماره تماس چهارم :  </label>
                            <input asp-for="PhoneNumber4" type="text" placeholder="شماره تماس" class="form-control" id="pwd">
                        </div>
                    </div>
                </fieldset>

                <fieldset style="width: 100%;padding: 0px 10px;">
                    <legend>آدرس </legend>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="pwd">آدرس : </label>
                            <textarea name="Address" rows="3" id="pwd" class="form-control">@Model.Address</textarea>
                        </div>
                    </div>
                </fieldset>

                <fieldset style="width: 100%;padding: 0px 10px;">
                    <legend>بیوگرافی </legend>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="pwd"> توضیحاتی درباره گرئه جهادی وصی - پایگاه اطلاع رسانی مسجد امیرالمومنین (علیه السلام) بنویسید  : </label>
                            <textarea name="AboutUs" rows="10" id="pwd" class="form-control">@Model.AboutUs</textarea>
                        </div>
                    </div>
                </fieldset>

                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <button type="submit" class="ladda-button btn btn-primary btn-block" data-style="zoom-in">
                            <span class="ladda-label">ثبت اطلاعات</span>
                        </button>
                    </div>
                </div>

            </div>
        </form>


    </div>
</div>


