@using Varesin.Mvc.Models.Post
@using Varesin.Domain.Enumeration
@using Varesin.Mvc.Services
@using Microsoft.AspNetCore.Mvc.Rendering
@model PostCreateViewModel
@{
    ViewData["Title"] = "ایجاد پست جدید - پنل مدیریتی وارثین";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">پنل مدیریتی</a></li>
        @if (UserAccessService.UserIsInRole(User, AccessCode.ViewPost))
        {
            <li class="breadcrumb-item active" aria-current="page"><a asp-action="Index" asp-controller="Post" asp-area="Admin">مشاهده پست های سامانه</a></li>
        }
        <li class="breadcrumb-item active" aria-current="page">ایجاد پست جدید </li>
    </ol>
</nav>

<div class="panel panel-primary">
    <div class="panel-heading">ایجاد پست جدید</div>
    <div class="panel-body">
        <form method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            @if (ViewData.ModelState.ErrorCount > 0)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger">
                            @Html.ValidationSummary()
                        </div>
                    </div>
                </div>
            }

            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-warning">
                        <p>عکس اصلی برای پست نباید بیش از 500 کیلو بایت باشد</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="required">عنوان پست را وارد نمایید : </label>
                        <input required type="text" asp-for="Title" placeholder="عنوان" class="form-control" id="pwd">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="required">عکس اصلی پست را انتخاب کنید : </label>
                        <input type="file" name="PrimaryPicture" required />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="pwd">توضیحات پست را وارد نمایید : </label>
                        <textarea  id="editor" asp-for="Description" placeholder="توضیحات پست" class="form-control" rows="5"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <button type="submit" class="ladda-button btn btn-primary btn-block" data-style="zoom-in">
                            <span class="ladda-label">ثبت</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
